body {
    font-family: Helvetica
}

h1   {
    color: blue;
}

div  {
    padding: 5px;
}

#rawnote {
    font-style: italic;
}

#rawtab {
    border-left: 1px solid black;
}

#copied {
    font-size: 10pt;
    font-style: italic;
    color: green;
    display: none;
}

#rawtabcontainer {
    width: 600px;
    overflow-x: scroll;
    white-space: nowrap;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#keyboardcontrols {
    font-style: italic;
    font-size: 10pt;
}

table {
    border-collapse: collapse;
    border: 1px solid lightgrey;
    border-left: double black;
    border-right: double black;
}

table td {
    border: 1px solid lightgrey;
    font-family: courier;
    font-size: 12pt;
    text-align: right;
    padding: 5px;
}

.current {
    border: 2px solid red;
}

.currentpassive {
    border: 2px solid lightblue;
}

.highlight {
    background-color: green;
    color: white;
}

.chordtone {
    background-color: blue;
    color: white;
}

#finaltab {
    font-family: courier;
}

#devControls {
    border-style: inset;
    display: none;
}

.footer {
    position: fixed;
    left: 0;
    width: 100%;
    font-style: italic;
    padding: 10px;
    border-left: 6px solid green;
    background-color: lightgrey;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}



/* The sidebar menu */
/* Thanks, https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
.sidenav {
  height: 100%;
  width: 140px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* Title */
.sidenav p {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
    margin-top: 40px;
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* ** 
/* ** /* The side navigation menu */
/* ** .sidenav {
/* **   height: 100%; /* 100% Full-height */
/* **   width: 150px; /* 0 width - change this with JavaScript */
/* **   float: left;
/* **   /* position: fixed; /* Stay in place */
/* **   /* z-index: 1; /* Stay on top */
/* **   top: 0; /* Stay at the top */
/* **   left: 0;
/* **   /* background-color: #111; /* Black*/
/* **   /* overflow-x: hidden; /* Disable horizontal scroll */
/* **   padding-top: 10px;
/* **   transition: 0.5s;
/* ** }
/* ** 
/* ** .toolname {
/* **   /* padding: 8px 8px 8px 8px; */
/* **   /* text-decoration: none; */
/* **   font-size: 20px;
/* **   color: white;
/* **   /* display: block; */
/* **   background-color: grey;
/* **   transition: 0.3s;
/* ** }
/* ** 
/* ** .navlinks {
/* **   height: 100%; /* 100% Full-height */
/* **   background-color: lightgrey;
/* ** }
/* ** 
/* ** /* The navigation menu links */
/* ** .sidenav a {
/* **   /* padding: 8px 8px 8px 8px; */
/* **   text-decoration: none;
/* **   font-size: 12px;
/* **   background-color: lightgrey;
/* **   color: white;
/* **   display: block;
/* **   transition: 0.3s;
/* ** }
/* ** 
/* ** /* When you mouse over the navigation links, change their color */
/* ** .sidenav a:hover {
/* **   color: #f1f1f1;
/* ** }
/* ** 
/* ** .main {
/* **     margin-left:120px;
/* ** }
/* ** */
