body {
    font-family: Arial
}

#rawnote {
    font-style: italic;
    font-size: 10pt;
    float: right;
}

#rawtab {
    border-left: 1px solid black;
}

#copied {
    font-size: 10pt;
    font-style: italic;
    color: green;
    display: none;
}

#userControls {
    padding: 5px;
    width: 600px;
}

#rawtabcontainer {
    width: 600px;
    overflow-x: scroll;
    white-space: nowrap;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#keyboardcontrols {
    font-style: italic;
    font-size: 10pt;
}

table {
    border-collapse: collapse;
    border: 1px solid lightgrey;
    border-left: double black;
    border-right: double black;
}

table td {
    border: 1px solid lightgrey;
    font-family: courier;
    font-size: 12pt;
    text-align: right;
    padding: 5px;
}

.current {
    border: 2px solid red;
}

.currentpassive {
    border: 2px solid lightblue;
}

.highlight {
    background-color: green;
    color: white;
}

.chordtone {
    background-color: blue;
    color: white;
}

#finaltab {
    font-family: courier;
}

#devControls {
    border-style: inset;
    display: none;
}


/* The sidebar menu */
/* Thanks, https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
.sidenav {
  height: 100%;
  width: 140px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden; /* Disable horizontal scroll */
}

.toolname {
    max-height: 50px;
}

/* Title */
.sidenav p {
    margin: 20px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
}

/* The navigation menu links */
.sidenav a {
    margin: 0px;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}


/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

#bannerDiv {
    margin-bottom: 40px;
    margin-top: 30px;
    font-size: 12px;
    font-style: italic;
}

/** Popup - based on https://html-online.com/articles/simple-popup-box/ */

/* Popup box BEGIN */
#popupDiv {
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    width:100%;
    position:fixed;
    top:0;
    z-index:10000;
}

#popupBox {
    display:inline-block;
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 800px;
    min-height: 80px;
    vertical-align: middle;
    width: 75%;
    margin-left: 200px;
    margin-top: 70px;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}

#popupText p {
    margin-bottom: 12px;
}

#popupText p.title {
    font-weight: bold;
    border-bottom: 1px solid grey;
}

#popupText li {
    margin-bottom: 12px;
}

.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}

.popupContent {
    display: none;   /* show during dev only, switch to none for deploy. */
    background-color: gold;
    border: 1px solid black;
}

/* Popup box END */


/* Tabs START */

/* Style the tab */
.tab {
    overflow: hidden;
    margin-top: 12px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Tabs END */
